{% extends 'errorTemplate.html.twig' %}

{% block body %}
    <style>
        .error {
            text-align: center;
        }
    </style>
    <div class="error">
        <br>
        <h1> Error 408 </h1>
        <p>El servidor no ha rebut la resposa a temps</p>
    </div>
{% endblock %}