{% extends 'errorTemplate.html.twig' %}

{% block body %}
    <style>
        .error {
            text-align: center;
        }
    </style>
    <div class="error">
        <br>
        <h1> Error 404 </h1>
        <p>La pàgina que busques no existeix</p>
    </div>
{% endblock %}